/*
    GUIquotes main style sheet
*/

* { padding: 0; margin: 0; }

body {
 font-family: Verdana, "DejaVu Sans", Geneva, Tahoma, "URW Gothic L", sans-serif;
 font-size: 62.5%;
 background: #658EAB
}
h1 {
 background: #C49B64;
 background-image: url(../graphics/gdkbrown36.jpg);
 background-repeat: repeat-x;
 background-position: left center;
 color: #EDE0CE;
 font-size: 1.8em;
 padding: 2px 2px 2px 4px;
 border-radius: 10px 10px 0 0;
 -moz-border-radius: 10px 10px 0 0;
 -webkit-border-radius: 10px 10px 0 0;
}
h2{
 background: #58AC99;
 background-image: url(../graphics/gdkgreen28.jpg);
 background-repeat: repeat-x;
 background-position: left center;
 color: #CFDFDB;
 font-size: 1.6em;
 padding: 2px 2px 2px 4px;
 border-radius: 8px 8px 0 0;
 -moz-border-radius: 8px 8px 0 0;
 -webkit-border-radius: 8px 8px 0 0; 
}
h3{
 font-size: 1.4em;
 padding: 2px
}
pre {
 font-size: 1.2em;
 padding: 2px
}
li {
 padding: 2px
}
hr {
 padding: 2px
}
p {
 padding: 8px 2px 2px 2px
}
img {
 border: none;
}

#wrapper { 
 margin: 0 auto;
 width: 822px;
 font-size: 1.3em;
 background: #FFFFFF
}
#header {
 width: 800px;
 color: #333;
 padding: 10px;
 border: 1px solid #2F407D;
 height: 80px;
 margin: 10px 0px 0px 0px;
 background: #FFFFFF
}
#content { 
 width: 720px;
 color: #333;
 border: 1px solid #FFFFFF;
 background: #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px 50px 10px 50px;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px 20px 10px 50px;
 width: 518px;
 float: left;
 background: #FFFFFF
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 1px solid #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px 10px 10px 20px;
 width: 200px;
 display: inline;
 background: #FFFFFF
}
#leftmain { 
 color: #333;
 border: 1px solid #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px 20px 10px 50px;
 width: 368px;
 float: left;
 background: #FFFFFF
}
#rightmain { 
 float: right;
 color: #333;
 border: 1px solid #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px 10px 10px 20px;
 width: 350px;
 display: inline;
 background: #FFFFFF
}
#footer1 { 
 width: 800px;
 color: #333;
 border: 1px solid #C49B64;
 background: #DCC19F;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
#footer2 { 
 width: 800px;
 clear: both;
 color: #333;
 border: 1px solid #C49B64;
 background: #DCC19F;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

/* These styles create the horizontal navigation bar. */
#navbar {
 float: left;
 width: 800px;
 color: #D6E2EA;
 padding: 0px 20px 0px 0px;
 border: 1px solid #D5EAE5;
 margin: 0px 0px 0px 0px;
 background: #2F407D;
 background-image: url(../graphics/gdkblue28.jpg);
 background-repeat: repeat-x;
 background-position: left center; 
   }
#navbar li {
    list-style: none;
    padding: 0px;
	color: #D6E2EA;
	font-size: 1.1em;
/*	font-weight: bold; */
	text-align: center;
	border: #D6E2EA solid 1px;
	background-color: #2F407D;
	float: left;
   }
#navbar li a {
   display: block;
   padding: 5px 8px 5px 8px;
   background-color: #2F407D;
   color: #D6E2EA;
   text-decoration: none; }
#navbar a:hover {
   background-color: #4D5D97;
   color: #EFF4F7; }
/*highlight "you are here" buttons*/
#home #navbar a#homeLink,
#screen #navbar a#screenLink,
#downld #navbar a#downldLink,
#files #navbar a#filesLink,
#support #navbar a#supportLink,
#links #navbar a#linksLink {
	background-color: #D6E2EA;
	color: #2F407D;
}
/* These styles create the vertical navigation bar. */
#navside {
  margin: 0;
  padding: 0;
  width: 175px;
  border-bottom: 1px solid #82C1B3;
}
#navside li {
  list-style: none;
  padding: 0;
}
#navside a {
  color: #333;
  font-size: 0.9em;
  text-decoration: none;
  border: 1px solid #82C1B3;
  border-bottom: none; 
  padding: 5px 8px 5px 8px;
  display: block;
  background-color: #D5EAE5; 
  zoom: 1; 
}
#navside a:hover {
/*  font-weight: bold; */
  background-color: #ACD6CD;
}
#man #manLink, 
#progfaq #progfaqLink, 
#filesfaq #filesfaqLink, 
#downld #dnldLink, 
#version #verLink, 
#horoscope #horoscopeLink  
{
  background-color: #82C1B3;
  font-weight: bold;
}

.headhl {
 background: #58AC99;
 background-image: url(../graphics/gdkgreen28.jpg);
 background-repeat: repeat-x;
 background-position: left center;
 color: #CFDFDB;
}

.monofont {
    font-family: "Courier New", Courier, "Nimbus Mono L", monospace;
}
.largeText {
	font-size: 1.1em;
}
.smallText {
	font-size: 0.8em;
}

.oddhl { background-color: #CFDFDB; }
.evenhl { background-color: #EDE0CE; }
.listbk { background-color: #CFDFDB; }
.oddhl  a:hover {
  font-weight: bold;
}
.evenhl  a:hover {
  font-weight: bold;
}

img.center {   
    display: block;
    margin-left: auto;   
    margin-right: auto;
}

.img64 {
	padding: 1em;
}

.img64 img {
	float: left;
}

.img64 p, .img64 h3 {
	margin-left: 75px;
}

.listin ul, .listin ol {
    padding: 1px 4px 1px 20px;
}    

.listbk ol {
    margin: 0px 0px 0px 2px;
    padding: 2px 2px 2px 0px;
}

.listbk ol  li {
    list-style-position: inside;
}

.listbk p {
    background-color: #FFFFFF;
    padding: 4px 4px 4px 4px
}

#quotefiles {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#quotefiles td, #quotefiles th {
    padding: 3px 6px 3px 6px;
}        

.pronly {
  display: none;
}

.nodisp {
	color: #FFF;
	border-style: none;
	visibility: hidden;
}

.figure {
    border-spacing: 10px;
}

.infobox  {
    border: 1px solid #C49B64;
	background: #DCC19F;
	padding: 0px 2px 2px 8px;
}

.figure  td {
    border: 1px solid #2F407D;
    padding: 4px;
}

.figure  p {
	padding: 8px 2px 2px 2px;
    text-align: center;
}

.button1 {
	text-align: center;
	margin: 10px 5px 10px 10px;
	min-width: 95px;
	width: 95px;
	background: #D5EAE5;
	border: 1px solid #82C1B3;
 	border-radius: 4px;
	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
}
.button1 p {
	margin: 0px;
	padding: 0px;
}
.button1 a {
	padding: 5px 8px 5px 8px;
    color: #333;
	text-decoration: none;
 	display: block;
}
.button1  a:hover {
  font-weight: bold;
  background-color: #ACD6CD;
}

#cform {
	font-family: Verdana, "DejaVu Sans", Geneva, Tahoma, "URW Gothic L", sans-serif; 
	padding: 10px;
	border: 1px solid #2F407D;
 	border-radius: 10px;
	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;
}

#cform form,
#cform table,
#cform td,
#cform th {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	text-align: left;
}

#cform table { border-collapse: collapse; }
#cform th { padding: 0px 10px 3px 0px; }
#cform td { padding: 2px 0px 3px 2px; }

#cform input,
#cform select,
#cform textarea {
	margin: 0px;
	padding: 1px 1px 1px 3px;
	background-color: #D5EAE5;
}

.cformerr {
  background-color: #FFE6E6;
  border: 1px solid black;
}

/* top, right, bottom, left */