/*
    GUIquotes print style sheet
*/

#navbar, #rightcolumn, #footerNav {
  display: none;
}

#wrapper, #header, #leftcolumn, #footer2, #copyr {
 width: auto;
 margin: 0;
 padding: 0;
}

#leftcolumn {
 float: none;
}

#wrapper, #footer2 {
 overflow: visible;
}

html, body {
 font-family: Georgia, "Century Schoolbook L", "Bitstream Charter", Palatino, serif;
 background: #FFF;
}

#header {
 height: auto;
 text-align: center;
 border-bottom: 2pt solid #000;
 border-top: 2pt solid #000;
 padding: 10pt 0;
 margin-bottom: 15pt;
}

* {
  color: #000000;
}

h1 {
  font-size: 24pt !important;
}

h2 {
  font-size: 16pt !important;
}

p, li {
	font-size: 11pt !important;
}

img {
 border: none;
}

#footer2 {
  margin-top: 15pt;
  border-top: 1pt solid #000;
  padding-top: 5pt;
}

#footer2 p {
  font-size: 9pt !important;
}

.monofont {
    font-family: "Courier New", Courier, "Nimbus Mono L", monospace;
}

.largeText {
	font-size: 12pt !important;
}
.smallText {
	font-size: 9pt !important;
}

.img64 {
    clear:both;
	padding: 1px;
	margin-top: 5px;
}

.img64 img {
	margin-top: 5px;
	float: left;
}

.img64 p {
	margin: 5px 5px 5px 75px;
}

a:link{
/*    font-weight: bold; */
	text-decoration: underline;
	color: #06C;
}

a:link:after {
    content: " (" attr(href) ") ";
	color: #06C;
}

a[href^="./"]:after {
	content: "";
}

a[href^="../"]:after {
	content: "";
}

.nodisp {
	color: #FFF;
	border-style: none;
	visibility: hidden;
}

.nopr {
  display: none;
}

.pronly {
  display: block;
}

.figure {
    border-spacing: 10px;
}

.figure  td {
    padding: 4px;
}

.figure  p {
    text-align: left;
}

.button1 {
	text-align: center;
	margin: 10px 5px 10px 10px;
	min-width: 125px;
	width: 125px;
	background: #FFF;
	border: 1px solid #82C1B3;
 	border-radius: 4px;
	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
}
.button1 p {
	margin: 0px;
	padding: 0px;
}
.button1 a {
	padding: 5px 8px 5px 8px;
    color: #000;
	text-decoration: none;
 	display: block;
}

#cform {
	width: 520px;
	font-family: Georgia, "Century Schoolbook L", "Bitstream Charter", Palatino, serif; 
	padding: 10px;
	border: 1px solid #2F407D;
 	border-radius: 10px;
	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;
}

#cform form,
#cform table,
#cform td,
#cform th {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	text-align: left;
}

#cform table { border-collapse: collapse; }
#cform th { padding: 0px 10px 3px 0px; }
#cform td { padding: 2px 0px 3px 2px; }

#cform input,
#cform select,
#cform textarea {
	margin: 0px;
	padding: 1px 1px 1px 3px;
	border: 1px solid black;
}

.cformerr {
  border: 1px solid black;
}